/* Processor-specific styles */

.chapterNumber {
    float: left;
    font-size: xx-large
}
.verseNumber {
    font-weight: bold;
    font-size: smaller;
    padding-right: 0.5em;
}

/* BlockTags (USFM paras)*/

.usfm_d {
    font-style: italic;
}
.usfm_m {
    text-indent: 0;
}
.usfm_p {
    text-indent: 0.5em;
}
.usfm_pc {
    text-align: center;
}
.usfm_q {
    margin-left: 2em;
}
.usfm_q2 {
    margin-left: 3em;
}
.usfm_q3 {
    margin-left: 4em;
}
.usfm_qa {
    font-style: italic;
    text-align: center;
}

/* Spans (USFM character-level markup) */

.usfm_wj {
    color: red;
}
.usfm_it {
    font-style: italic;
}
.usfm_qs {
    font-style: italic;
}
.usfm_bd {
    font-weight: bold;
}
.usfm_sc {
    font-variant: small-caps;
}
.usfm_sls {
    font-style: italic;
}
